<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="bi bi-question my-float"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-primary fw-bold" id="exampleModalLabel">SignalR Chat App</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>There are two logins created</p>
                <ul>
                    <li><i class="text-primary fw-bold">admin@jakelin.com.au</i></li>
                    <li><i class="text-primary fw-bold">customer@jakelin.com.au</i></li>
                </ul>
                <p>The password is the same <i class="text-primary fw-bold">Pa$$w0rd</i></p>
            </div>
        </div>
    </div>
</div>